/.coverage
/tests/.coverage.xml
/tests/.junit.xml
/template-pp/
/.env
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Security scan outputs
licenses.md
sbom.spdx.json
.output.txt
